* {
    box-sizing:border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

/* ==============
TYPOGRAPHY
============== */
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}

h1{
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    font-size: 4rem;
}

header p{
    font-size: 1.8rem;
    margin: 1.5rem 0 0;
}

/* =============
LAYOUT
============= */
.container-body{
    background: linear-gradient(177deg,
    #ffffff,
    #eeded8, 
    #cbd1da, 
    #9fb1c8) 
    no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    color: #596779;
    padding:3em 0 2em;
    text-align: center;
    margin-top: 10em;
}

main{
    margin-bottom: 14em;
}

footer{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 40px 0 20px;
    background-color: #31363c;
    margin-top:auto;
}

.container{
    width:90%;
    margin: 20px auto 50px;    
}

@media (min-width: 650px){
    header{
        margin-top: 3em;
        padding:3em 0 2em;
    }

    .container{
        max-width: 700px;
    }

}

.container-search{
    padding: 40px 15px 40px 35px;
    background-color: rgba(0, 128, 128, 0.1);
    border-radius: 10px;
    box-shadow: 10px 5px  10px #7a7a7a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar{
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.4;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search-btn{
    border: none;
    padding:1.4em;
    border-radius: 50%;
    background-color: #ffe600;
    position: relative;
    /* top:0; */
    left:-20px;
    transform: scale(1);
    transition: transform 500ms;
}

.search-btn:hover,
.search-btn:focus {
    transform: scale(1.1);
    background-color: #f8e114;
}

.search-btn img{
    width: 20px;
    margin: 0 auto;
}

.search-output{
    padding: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    text-align: center;
} 

.search-output li{
    list-style: none;
    margin: 0;
    padding: 0.5em 0;
}

.search-output li:nth-child(1){
    padding-top: 25px;
}

.search-output li:last-child{
    padding-bottom: 15px;
}


.small-text{
    font-size: 1rem;
    margin: 0;
    letter-spacing: 1px;
}
